doctype html
html
  head
    title govinda dance academy.com
    block style
  body
    nav#navbar 
        ul 
          li #[a(href="/") Home]
          li #[a(href="/about") About]
          li #[a(href="/server") Server]
          li #[a(href="/contact") Contact Us]
          div.loginBox
            button.login 
              | Login
            button.login 
              | Sign Up
    block content 
    block foot
        section#footer 
            footer Copyright © GovindaDanceAcademy.com | All right reserved
    block scripts