doctype html
html
  head
    title govinda dance academy.com
    style
      include ../static/style.css
  body
    //- nav#navbar 
    //-     ul 
    //-       li #[a Home]
    //-       li #[a About]
    //-       li #[a Server]
    //-       li #[a Contact Us]    

    //- section#intro-section 
    //-     div.container
    //-         h1 "welcome to Govinda's Dance Academy"
    //-         h2  Eat sleep dance repeat
    //- section#sponsers-section 
    //-         h2 Our Mission
    //-             div.sponsors 
    //-                 div.cart
    //-                      h4 Dance Perfection 
    //-                         div.info
    //-                             img(src="../static/png01.png", alt="#" id="png01")
    //-                             p This is the best dance academy in the all world
    //-                 div.cart 
    //-                     h4 Dance the way you Like
    //-                         div.info
    //-                             img(src="../static/png02.png", alt="#" id="png02")
    //-                             p All dance types are avilable in this academy
    //-                 div.cart 
    //-                     h4 Dance Teaching
    //-                         div.info
    //-                             img(src="../static/png03.png", alt="#" id="png03")
    //-                             p World's best teachers available for teaching
           
            
    //- section#client-section 
    //-         h2 Our Sponsors
    //-             div.img 
    //-                 img(src="../static/logo1.png", alt="our sponsors" id="img01")
    //-                 img(src="../static/logo2.png", alt="our sponsors" id="img02")
    //-                 img(src="../static/logo3.png", alt="our sponsors" id="img03")
    //-                 img(src="../static/logo4.png", alt="our sponsors" id="img04")
    section#footer 
        footer Copyright © GovindaDanceAcademy.com | All right reserved
    script
      //- include ../static/script.js
    